.text-field {
  flex: 1;
  padding: 28px 40px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 20px;

  @media (orientation: portrait) {
    padding: 18px 34px;
    font-size: 14px;
  }
}

.text-field:hover {
}

.text-field:focus {
}

.text-field::placeholder {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  opacity: 0.7;
  color: var(---color-text-2);
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-text-2);
  border-radius: 20px !important;
  background-color: #ffffff;
  position: relative;
  width: 100%;

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
  }
}

.input-wrapper.error-field {
  background-color: #ffe6e6;
  border: 1px solid var(--color-alert);
}

.input-wrapper.answer {
  border: 1px solid var(--color-accent-2) !important;

  @media (orientation: portrait) {
    border: 1px solid var(--color-accent-2) !important;
  }
}

.mde-header {
  @media (orientation: portrait) {
    border-radius: 20px 20px 0 0 !important;
  }
}

.icon {
  width: 24px;
  height: 24px;

  @media (orientation: portrait) {
    width: 20px;
    height: 20px;
  }
}

.warning-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-alert);
  width: 24px;
  height: 24px;

  @media (orientation: portrait) {
    left: 10px;
    width: 20px;
    height: 20px;
  }
}

.show-password-icon {
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;

  @media (orientation: portrait) {
    right: 10px;
    width: 20px;
    height: 20px;
  }
}
