.detail-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.detail-group label {
  text-align: left;
  margin-bottom: 25px;
}

.page {
  margin: 0;
  padding: 0;
}

.main-info-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding: 50px 0px;

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px;
  }
}

.centered-loadng {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.file-dropzone {
  border: 2px dashed #ccc;
  border-radius: 20px;
  text-align: center;

  padding: 20px;
  margin-top: 20px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  @media (orientation: portrait) {
    width: 53px;
    height: 53px;
  }
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0 60px;
  gap: 30px;
}

.menuItem {
  position: relative;
  margin: 0 15px;
  color: var(--color-text);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.menuItem:hover {
  color: var(--color-accent-2);
}

.icon {
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.selected {
  color: var(--color-text);
}

.selected::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10px;
  background: url("../../assets/icons/underline.svg") no-repeat center;
  background-size: 120% 100%;
  @media (orientation: portrait) {
    background: none;
  }
}
