.lang-switcher {
  display: inline-flex;
  background-color: var(--color-background);
  border-radius: 20px;
}

.lang-btn {
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text);
  transition: background-color 0.2s;

  &.left-rounded {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &.right-rounded {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.active {
    background-color: var(--color-accent);
    color: var(--color-background);
  }

  &:not(.active):hover {
    background-color: #ffd83d;
    color: var(--color-background);
  }
}
