.primary-button {
  background-color: #ffffff;
  color: var(--color-accent-2);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
  border: 1px solid var(--color-accent-2);
  border-width: 1px;
  gap: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.primary-button:hover {
  background-color: var(--color-accent-2);
  color: #ffffff;
}

.accent-button {
  background-color: var(--color-accent);
  color: var(--color-text);
  padding: 28px 30px;
  border-radius: 20px;
  gap: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
  border-width: 0px;
  @media (orientation: portrait) {
    padding: 18px 15px;
  }
}

.accent-button:hover {
  background-color: #ffd83d;
}

.accent-button:disabled,
.accent-button[disabled] {
  background-color: #ffd83d;
  cursor: default;
}

.accent-2-button {
  background-color: var(--color-accent-2);
  color: #ffffff;
  padding: 11px 14px;
  border: 1px solid transparent;
  border-radius: 10px;
  gap: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.accent-2-button:hover {
  background-color: #030150;
}

.text-button {
  text-decoration: underline;
  color: var(--color-text);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.text-button:hover {
  color: var(--color-accent-2);
}

.go-to-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: var(--color-accent);
  border: solid 1px #000000;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.go-to-button:hover {
  background-color: #ffd83d;
}

.go-to-button.completed {
  background-color: var(--color-inactive);
}

.go-to-button.completed:hover {
  background-color: var(--color-inactive);
}

.external-link-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-text-2);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.external-link-button:hover {
  color: var(--color-accent);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.attach-button {
  background-color: var(--color-accent-2);
  color: white;
  border: none;
  padding: 28px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  align-self: stretch;

  @media (orientation: portrait) {
    padding: 18px 15px;
    border-radius: 0px 0px 20px 20px;
  }
}

.attach-button:hover {
  background-color: #030150;
}
