.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  padding: 30px 0px;
  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    padding: 30px 17px;
    gap: 40px;
  }
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  color: white;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}
