.group-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.study-info-group {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.courses-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  flex-wrap: wrap;
  @media (orientation: portrait) {
    grid-template-columns: 1fr;
  }
}

.go-to-course {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  align-items: center;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-bottom: 5px solid transparent;
  background: none;
  font-size: 16px;
}

.tab.active {
  border-bottom: 5px solid var(--color-accent-2);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
